<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" />
    <!-- <link rel="stylesheet" href="static/css/stylesheet.css" /> -->
    <title>Simple Up or Down Tool</title>
  </head>
  <body>
    {% block content %} {% endblock %}
  <!-- <div class="footer-code">
    <a href="/terms">Terms of use</a>
    <br />
    <a href="/privacy">Privacy</a>
    <br />
    <a href="/about">About</a>
  </div> -->
</html>