{% extends "base.html" %} {% block content %}
<h1>Simple Up or Down Tool</h1>
<form action="/website" method="post">
  <input
    placeholder="website"
    name="website"
    type="url"
    style="Width: 525px;"
  />
</br>
  <button type="submit">submit</button>
</form>
</br>
</br>
<h2>Configured Hosts Checks</h2>
<p>
    <span id="url" style="color:#ffb300; font-weight:bold">{{ check }}</span>
    <span id="message" style="font-weight:bold">{{ message }}</span>
</p>
{% endblock %}